<h2>Animal Details: </h2>

<p>@Model.GetName()</p>
<p>@Model.GetType()</p>
<p>@Model.GetBreed()</p>
<p>@Model.GetSex()</p>
<p>@Model.GetDateOfAdmittance()</p>
<a href='/animals/new'>Add another animal</a>
<a href='/categories'>View all animals</a>